{% extends 'layout.html' %}
{% block content %}

<div align="center" class="OtherGigaMainDev">
    <div class="card" style="width: 55rem;max-height: 570px;margin-top: 30px;">
        <div class="card-body" style="padding: 0px,0px,0px,0px;max-height:570px;background-color: #e5e5e5">
            <h1>Upload qr image</h1>
            <hr>
            <form method="post" enctype="multipart/form-data">
                <div class="input-group mb-3">
                  <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon03">Submit</button>
                  <input type="file" name="qrImage" class="form-control" id="inputGroupFile03"
                         aria-describedby="inputGroupFileAddon03" aria-label="Upload" required>
                </div>
            </form>

            <div class="row">
                <div class="col" style="border-right: 1px solid gray;">
                    {% if image_url %}
                        <img class="GigaImg" src="{{ image_url }}">

                        </div>
                        <div class="col" style="text-align: left;">
                            <h3>Results:</h3>
                            {% if qr_data != "" %}
                                <p>QR data: {{ qr_data }}</p>
                            {% else %}
                                <p>QR data: Not found</p>
                            {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}